.copy
  Jasmine is a behavior-driven development framework for testing your JavaScript code. It does not depend on any other
  JavaScript frameworks. It does not require a DOM. And it has a clean, obvious syntax so that you can easily write tests.

.highlight
  %pre
    %code.javascript= snippet

.copy
  Jasmine can be run anywhere you can execute JavaScript: a static web page, your continuous integration environment, |
  or server-side environments like
  = link "Node.js", "http://nodejs.org"

.copy
  Find out more in the
  = link("documentation", "http://github.com/pivotal/jasmine/wiki", :target => '_blank') + '.'

%h2 Downloads

%ul
  %li= link "Standalone", "download.html"
  %li
    = link "Jasmine Ruby Gem", "http://github.com/pivotal/jasmine/wiki/A-ruby-project", :target => '_blank'
    for Rails, Ruby, or Ruby-friendly development
  %li
    = link "Other environments", "http://github.com/pivotal/jasmine/wiki", :target => '_blank'
    Node.js, Maven, etc.

%h2 Support

%ul
  %li= link "API Documentation", "jsdoc/index.html", :target => '_blank'
  %li
    = link "Google Group for email list:", "http://groups.google.com/group/jasmine-js", :target => '_blank'
    = link "jasmine-js@googlegroups.com", "mailto:jasmine-js@googlegroups.com", :target => '_blank'
  %li= link "Current Build Status", "http://ci.pivotallabs.com", :target => '_blank'
  %li= link "Report bugs at GitHub", "http://github.com/pivotal/jasmine/issues", :target => '_blank'
  %li= link "Project Backlog at Pivotal Tracker", "http://www.pivotaltracker.com/projects/10606", :target => '_blank'
  %li
    %img{:src => "http://twitter-badges.s3.amazonaws.com/t_mini-c.png"}
    = link "Follow @JasmineBDD on Twitter", "http://twitter.com/JasmineBDD"

%hr
  %span.small
    Powered by &nbsp;
    %a{ :href => "http://pivotallabs.com" , :target => '_blank' }
      %img{ :src => "/jasmine/images/pivotal_logo.gif", :alt => "Pivotal Labs, Inc." }
