<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  <title>{{ title }}</title>
  <link href='http://fonts.googleapis.com/css?family=Lora|Istok+Web:700' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="css/docco.css"/>
  <link rel="stylesheet" href="css/jasmine_docco-<%= jasmine_version %>.css"/>
  <link rel="stylesheet" href="lib/jasmine-<%= jasmine_version %>/jasmine.css"/>
  <script src="lib/jasmine-<%= jasmine_version %>/jasmine.js"></script>
  <script src="lib/jasmine-<%= jasmine_version %>/jasmine-html.js"></script>
  <!--- boot.js is required only for Jasmine 2.x --->
  <script src="lib/jasmine-<%= jasmine_version %>/boot.js"></script>
  <script src="src/introduction-<%= jasmine_version %>.js"></script>
</head>
<body>
<div id="container">
  <div id="background"></div>
  {{#sources?}}
  <div id="jump_to">
    Jump To &hellip;
    <div id="jump_wrapper">
      <div id="jump_page">
        {{#sources}}
        <a class="source" href="{{ url }}">{{ basename }}</a>
        {{/sources}}
      </div>
    </div>
  </div>
  {{/sources?}}
  <div class="banner">
    <a href="http://github.com/pivotal/jasmine">
      <img src="images/jasmine_logo.png"/>
    </a>
    <span class="spacer"></span>
    <div class="powered">
      <span>Powered by</span>
    </div>
    <a href="http://pivotallabs.com/" target="_blank">
      <img src="images/pivotal_logo.gif"/>
    </a>
  </div>
  <table cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <th class="docs">
        <h1>{{ title }}</h1>
      </th>
      <th class="code"></th>
    </tr>
    </thead>
    <tbody>
    {{#sections}}
    <tr id="section-{{ section_id }}">
      <td class="docs">
        <div class="pilwrap">
          <a class="pilcrow" href="#section-{{ section_id }}">&#182;</a>
        </div>
        {{{ docs }}}
      </td>
      <td class="code">
        <div class="highlight">
          <pre>{{{ code }}}</pre>
        </div>
      </td>
    </tr>
    {{/sections}}
    </tbody>
  </table>
</div>
</body>
</html>